* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sliders-container-second {
  padding: 10px;
  overflow-x: hidden;
}

.slider-content-second {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
}

.slide-card-second {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #c7e2f5;
  min-width: 369px !important;
  height: 280px;
  gap: 10px;
  padding: 10px;
  box-shadow: 1px 10px 67px -71px rgba(0, 0, 0, 0.75);
}

.slider-top-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bebebe;
  padding-bottom: 10px;
}

.slider-card-and-title-group-second {
  display: flex;
  gap: 10px;
}

.slider-card-image-second {
  width: 50px;
  height: 50px;
}

.slider-card-image-second img {
  width: 100%;
}

.slider-card-title-second {
  font-size: 20px;
  font-weight: 400;
  font-family: "Abel", sans-serif;
}

.slider-description-second {
  font-family: "Nunito", sans-serif;
}

.icons-group-second i {
  font-size: 14px;
}

.slider-dot-and-next-prev-button-group-second {
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 20px;
  color: #e1be4a;
}

.slider-dot-group-second {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.slider-dot-second.active {
  background-color: #e1be4a !important;
}

.slider-dot-second {
  background-color: #cbcbcb;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider-dot-second::before {
  content: "";
  position: absolute;
  top: 32px;
  width: 20px;
  height: 20px;
  border: 1px solid #cbcbcb;
  border-radius: 100%;
}

.next-prev-button-group-second {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.next-prev-button-group-second button {
  border: none;
  width: 45px;
  height: 45px;
  font-size: 18px;
  cursor: pointer;
}

.next-second {
  color: white;
  background-color: #e1be4a;
}

.prev-second {
  color: white;
  background-color: #222020;
}

@media (max-width: 550px) {
  .container-second {
    padding: 10px;
  }
}

@media screen and (min-width: 0px) and (max-width: 520px) {
  .slider-dot-and-next-prev-button-group-second {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .slider-dot-second {
    background-color: #cbcbcb;
    width: 8px;
    height: 8px;
  }
  .slider-dot-second::before {
    content: "";
    position: absolute;
    top: 14px;
    width: 18px;
    height: 18px;
    border: 1px solid #cbcbcb;
    border-radius: 100%;
  }
  .next-prev-button-group-second button {
    border: none;
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
}
